@font-face {
  font-family: 'raleway';
  src: url('/fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 10px;
}

a {
  color: inherit;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

button {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: blue;
  color: white;
}

.error {
  color: red;
  margin-bottom: 10px;
}